<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>ini halaman utama cok!!!</h1>
    <a href="/signin">Log in</a>
    <a href="/signup">Sign Up</a>
    <a href="/service">Service</a>
  </body>
</html>