<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
    <h1>signin seller</h1>
    <br>
    <form action="/signin/seller" method="POST">
     Email:<br>
     <input type="text" name="email"><br>
     Password:<br>
     <input type="password" name="password"><br>
     <input type="submit" value="Submit">
    </form>
    <br><br>
    <h1>signin buyer</h1>
    <br>
    <form action="/signin/buyer" method="POST">
     Email:<br>
     <input type="text" name="email"><br>
     Password:<br>
     <input type="password" name="password"><br>
     <input type="submit" value="Submit">
    </form>
  </center>
  </body>
</html>