<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
    <h1>signup seller</h1>
    <br>
    <form action="/signup/seller" method="POST">
     Username:<br>
     <input type="text" name="username"><br>
     Name:<br>
     <input type="text" name="name"><br>
     Email:<br>
     <input type="text" name="email"><br>
     Password:<br>
     <input type="password" name="password"><br>
     <input type="submit" value="Submit">
    </form>
    <br><br>
    <h1>signup buyer</h1>
    <br>
    <form action="/signup/buyer" method="POST">
     Username:<br>
     <input type="text" name="username"><br>
     Name:<br>
     <input type="text" name="name"><br>
     Email:<br>
     <input type="text" name="email"><br>
     Password:<br>
     <input type="password" name="password"><br>
     <input type="submit" value="Submit">
    </form>
  </center>
  </body>
</html>